* {
  font-family: "proxima-nova", sans-serif;
}

header {
  background-color: red;
  margin: 5px 0px 5px 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 7px;
  border: 5px solid black;
  border-radius: 3px;
  color: aliceblue;
}

header h1{
  border-bottom: 3px solid orange;
}

header p{
  font-style: italic;
  color: lavender;
}

.column-1 {
  background-color: lightblue;
  float: left;
  width: 45%;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  margin-left: 3px;
  margin-bottom: 10px;
  height: auto;
}

.column-1 h2 {
  border-bottom: 3px solid darkblue;
}

.column-2 {
  background-color: lightgreen;
  float: right;
  width: 45%;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  margin-right: 3px;
  height: auto;
}

.column-2 h2 {
  border-bottom: 3px solid darkgreen;
}

footer {
  clear: both;
  background-color: orange;
  margin: 0px 3px 5px 3px;
  padding: 3px 15px 3px 15px;
  border: 10px solid blue;
  border-radius: 10px;
}